<div class= "blog-nav-cont">
    <hr class = "blog-line">
    <div class="blog-nav-text-cont">
        <a class = "blog-nav-text">Reading</a>
        <a class = "blog-nav-text">Projects</a>
    </div>
    <hr class = "blog-line">
</div>