@media screen and (max-width: 1400px){
    #profile{
        height: 60vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}



@media screen and (max-width: 1200px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
    .section-container{
        display: block;
    }
    #profile{
        margin:5rem;
    }
    /* .home-photo{
        width: 30vw;
        height: fit-content;
    } */
    .home-pic-cont{
        padding: 2rem;
    }
    .home-info-container{
        margin-top: 0;
    }
    .welcome-cont{
        padding-top:0;
    }
    section, 
    .section-container{
        height: fit-content;
    }
    section{
        margin: 0.5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    } 
    .proj-cont {
        display: inline-block;
        padding-left: 30vw;
        padding-right: 30vw;
    }
    .proj-style{
        margin-bottom: 3vh;
    }
    .about-pic{
        margin-bottom: 2rem;
    }
    .sub-skill-cont{
        flex-wrap: wrap;
        
    }
}





@media screen and (max-width: 600px){
    #profile{
        display: block;
        margin:0;
    }
    
    .profile-cont{
        display: inline;
    }

    .logo{
        font-size: 2rem;
    }
    /* .home-photo{
        margin-left: auto;
        margin-right: auto;
    } */

    img{
        width: 45vw;
    }

    .home-pic-cont{
        padding: 0;
        justify-content: center;

    }
    .home-info-container{
        margin-top: 0;
        padding-bottom: 2rem;
    }
    .welcome-cont{
        padding-top:0;
    }
    .section-text-style{
        font-size: 2rem;
    }
    .description{
        font-size: 1.2rem;
    }

    .title{
        font-size: 2rem;
    }
    #about{
        margin: 0rem;
    }

    .about-pic{
        margin-bottom: 0;
    }
    .text-container{
        padding-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .socials-container{
        display:block;
    }

    .form-name{
        width:85vw;
    }

    .form-email{
        width:85vw;
    }

    .form-message{
        width:85vw;
    }

    .contact-submit{
        width:45vw;
    }

    .form-cont{
        padding-bottom:2rem;
    }

    .proj-cont {
        padding-left: 20vw;
        padding-right: 20vw;
    }
    .exper-cont{
        display: inline;
    }


} 


