/* General */

@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Poppins:wght@300;400;500;600&display=swap')

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Questrial", sans-serif;
    background-color: #022b23;
    position: relative;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    height: 100%
}

p{
    font-family: "Questrial", sans-serif;
    color: rgb(255, 237, 210);
    margin: 0;   
}

h1 {
    font-family: "Rozha One", serif;
    color: rgb(255, 237, 210);
    font-size: 2.5rem;
}

/*Transition  */
a {
    transition: all 300ms ease;
}

/* desktop nav */

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.25rem;
}

a{
    color: rgb(255, 237, 210);
    text-decoration: none;
    /* text-decoration-color: rgb(239, 224, 201); */
    ;
}

a:hover {
    color: rgb(255, 187, 166);
    text-decoration: none;
    /* text-underline-offset: 1rem;
    text-decoration-color: rgb(239, 224, 201); */

}

.logo{
    font-size: 2rem; 
    color: rgb(255, 237, 210);
    font-family: "Rozha One", serif;
        /* font-weight: 400; */
    font-style: normal;
    font-size: 3rem;
}

.logo:hover{
    cursor: default;
}
/* Hamburger Menu */

#hamburger-nav{
    display:none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: rgb(255, 237, 210);
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #506c60;
    width: fit-content;
    max-height:0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 237, 210);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}

/* Sections */
section{
    margin: 0 10rem;
    min-height: 100%;
}

.section-container{
    display: flex;
}

/* Profile Section */

.title{
    font-size: 3rem;
    text-align: center;
}

#profile {
    display: flex;
    justify-content: left;
    gap: 5rem;
    height: 80vh;
    min-height: fit-content;
}

.profile-cont {
    display: flex;
}

.home-pic-cont {
    display: flex;
    padding: 3rem;
    object-fit: fill;
    /* width:50%; */
}

.section-text-style{
    font-family: "Rozha One", serif;
    font-size: 2.5rem;
    text-align: left;
}

.welcome-cont{
    padding-top: 3.5rem;
}

.second-line-cont{
    padding-top: 1.5rem;
 
}

.intro-cont{
    margin-top: 2rem;
    margin-right: 30%;
}


.home-info-container{
    margin-top: 2rem;
}

.highlight{
    background-color: #022b23;
    color: rgb(255, 237, 210);
    border: none;
    text-decoration: underline;
    text-decoration-color: #506c60;
    cursor: pointer;
}

.highlight:hover{
    background-color: #506c60;
    color: #ffbba6;
    text-decoration: underline;
    text-decoration-color: rgb(255, 237, 210);
    cursor: pointer;
}

.description{
    font-size: 1.25rem;
    line-height: 1.5rem;

}

/* Icons */

.icon{
    /* cursor: pointer; */
    height: 2rem;
}


/* About Section */

#about{
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    width: 100%;
}

.about-pic-cont{
    display:flex;
    justify-content: center;
    margin-bottom: auto;
}

.about-pic{
    border: 0.35rem solid #506c60;
    max-width: 50%;
    max-height: 50%;
}

.about-text{
    line-height: 2rem;
    font-size: 1.25rem;
}

.text-container{
    padding-bottom: 3rem;
}


/* Contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: fit-content;
}

.socials-container{
    display:flex;
    justify-content: center;
    
}

.link-cont{
    margin-bottom: auto;
    margin-right:2rem;
    padding: 1rem;

}


.s-email{
    display: flex;
}

.s-linkedin{
    display: flex;
    margin-top: 2rem;
}

.s-github{
    display: flex;
    margin-top: 2rem;
}

.social-text-style{
    text-align: left;
    margin-left: 1rem;
    margin-top:0.5rem;
    display: inline-block;
    font-size: 1.25rem;
}

.icon-cont{
    width: 2rem;
    height:2rem;
}


.form-name{
    width: 35vw;

}

.form-email{
    width: 35vw;

}
.form-message{
    width: 35vw;

}

label[for='name']{
    font-family: "Questrial", sans-serif;
    color: rgb(255, 237, 210);
    font-size: 1.25rem;
    /* padding-top: 1rem; */
}

label[for='email']{
    font-family: "Questrial", sans-serif;
    color: rgb(255, 237, 210);
    font-size: 1.25rem;
}
label[for='message']{
    font-family: "Questrial", sans-serif;
    color: rgb(255, 237, 210);
    font-size: 1.25rem;
}

input[type=text]{
    background-color: #506c60;
    color:rgb(255, 237, 210);
    width: 100%;
    height:100%;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    padding:0.75rem;
}
input[type=email]{
    background-color: #506c60;
    color:rgb(255, 237, 210);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    padding:0.75rem;
}
textarea{
    background-color: #506c60;
    color:rgb(255, 237, 210);
    width:100%;
    height:100%;
    border: none;
    border-radius: 10px;
    padding:0.75rem;
    font-size: 1.25rem;
    font-family: "Questrial", sans-serif;
}

textarea::placeholder{
    color:rgb(255, 237, 210);
    font-size: 1.25rem;
    font-family: "Questrial", sans-serif;

}

form{
    display: block;
}

.contact-submit{
    background-color: rgb(255, 237, 210);
    color: #022b23;
    border: none;
    border-radius: 30px;
    font-family: "Questrial", sans-serif;
    padding:0.75rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.contact-submit:hover{
    background-color: #ffbba6;
    color:#022b23;
    border:none;
    border-radius: 30px;
    font-family: "Questrial", sans-serif;
    padding:0.75rem;
    font-size: 1.25rem;
    cursor: pointer;
}

/* Projects */

.proj-cont{
    display: flex;
    justify-content: center;
    
}

.proj-style{
    border: 0.35rem solid #506c60;
    margin-right: 2rem;
    margin-left: 2rem;
}

.proj{
    width: 300px;
    height: 300px;
    cursor: pointer;
    
    /* object-fit: contain; */
    
}

.coming-soon{
    font-family: "Rozha One", serif;
    color: #ffbba6;
    font-size: 2.5rem;
    margin:1em 1em;
    text-align: center;
}

#skills{

}
.skills{
    display:inline;
    padding-bottom: 3rem;
}

.lang-cont{
    display:inline;
}

.skill-style{
    font-size: 1.5rem;
    margin-bottom:0.25rem;
}

.sub-skill-cont{
    display: flex;
    padding-bottom: 1rem;

}
.sub-skill-style{
    background-color: #506c60;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.5rem;
    margin:0.5rem;
    font-size: 1.25rem;
}

.exper-cont{
    display: inline;

}

.exper-title-cont, .exper-desc{
    text-align: center;
}


.exper-title{
    font-family: "Rozha One", serif;
    font-size: 2rem;

}

.exper-style{
    font-size: 1.55rem;
    padding: 0.75rem;
}



/* Footer */

footer{
    /* padding-top: 1rem; */
    /* bottom: 0;
    position: relative;
    width: 100%; */
    position:fixed;
    bottom:0;
    left:0;
    
}










