<h1 class = "title">Let's Connect!</h1>
    <section id = "contact">
        <div class = "socials-container">
            <div class = "link-cont">
                <div class = "s-email">
                    <img 
                    src="./assets/email-logo-color.png"
                    alt = "Email Icon"
                    class = "icon icon-cont">
                    <p class = "social-text-style"><a href = mailto:ashleypun@berkeley.edu>ashleypun@berkeley.edu</a></p>
                </div>
                <div class = "s-linkedin">
                    <img 
                        src="./assets/linkedin-logo-color.png"
                        alt = "LinkedIn Icon"
                        class = "icon icon-cont">
                        <p class = "social-text-style"><a target="_blank" rel="noopener noreferrer" href = "https://www.linkedin.com/in/ashley-pun/">LinkedIn</a></p>
                </div>
                <div class = "s-github">
                    <img 
                        src="./assets/github-logo-color.png"
                        alt = "Github Icon"
                        class = "icon icon-cont">
                        <p class = "social-text-style"><a target="_blank" rel="noopener noreferrer" href = "https://github.com/aaashleyyyyy">Github</a></p>
                </div>
            </div>
            <div class = "form-cont">
                <form action="https://api.web3forms.com/submit" method="POST" id="form">
                    <input type="hidden" name="access_key" value="e93a90a6-da8d-4440-9c7f-9f296fbad4cf" />
                    <input type="hidden" name="subject" value="New Submission from Web3Forms" />
                    <input type="hidden" name="redirect" value="https://web3forms.com/success" />
                    <input type="checkbox" name="botcheck" id="" style="display: none;" />
                    <div class = "form-name">
                        <label for="name">Name</label><br>
                        <input type="text" name="name" id="name" required />
                        <br><br>
                    </div>
                    <div class="form-email">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" id="email" required /><br><br>
                    </div>
                    <div class = "form-message">
                        <label for="message">Message</label><br>
                        <textarea rows="5" name="message" id="message" placeholder="ex. Let's work together!" required></textarea><br><br>
                    </div>
                    <button class="contact-submit"> Send </button>
                </form>
            </div>
        </div>
    </section>
    </div>